@import url("https://use.typekit.net/bms1sgf.css");

:root {
  --color-primary: #8c99fa;
  --color-primary100:#d6dbff;
  --color-primary400:#5c59f3;
  --color-primary600:#2f33a8;
  --color-primary800:#0c0a66;
  --color-secondary: #ffe49e;
  --color-secondary100:#fff6df;
  --color-secondary400:#ffcd59;
  --color-secondary600:#ffb619;
  --color-secondary800:#ff9d00;
  --color-paragraph: #464754;
  --color-heading: #282830;


  --font-primary: "Proxima Nova", sans-serif;
}
